version: 2.1
orbs:
  # "cypress-io/cypress@3" installs the latest published
  # version "s.x.y" of the orb. We recommend you then use
  # the strict explicit version "cypress-io/cypress@3.x.y"
  # to lock the version and prevent unexpected CI changes
  cypress: cypress-io/cypress@3
  slack: circleci/slack@4.9.3
jobs:
  notify:
    docker:
      - image: 'cimg/base:stable'
        auth:
          username: nigamutsav22
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - slack/notify:
          event: fail
          template: basic_fail_1
      - slack/notify:
          event: pass
          template: success_tagged_deploy_1
          
      - slack/notify:
          custom: |
            {
              "blocks": [
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "plain_text",
                      "text": "*This is a text notification*",
                      "emoji": true
                    }
                  ]
                }
              ]
            }
          event: always
workflows:
  send-notification:
    jobs:
      - cypress/run:
          start-command: 'npm run start'
          filters:
            branches:
              only: 
                - main
                - master            
      - notify:
          requires:
            - cypress/run
          context: slack-secrets
          filters:
            branches:
               only: 
                - main
                - master    
      - message:
         flow:
           steps:
             - run: echo "Hello, world!" > workspace/echo-output
           filters:
            branches:
               only: 
                - main
                - master            
