version: 2.1
orbs:
  # "cypress-io/cypress@3" installs the latest published
  # version "s.x.y" of the orb. We recommend you then use
  # the strict explicit version "cypress-io/cypress@3.x.y"
  # to lock the version and prevent unexpected CI changes
  cypress: cypress-io/cypress@3
  slack: circleci/slack@4.9.3
executors:
  my-executor:
    docker:
      - image: cimg/base:2021.04
        auth:
          username: nigamutsav22
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    working_directory: /tmp
jobs:
  notify:
    executor: my-executor
    steps:
      - attach_workspace:
                # Must be absolute path or relative path from working_directory
          at: /tmp/workspace

      - run: |
          echo 'export MY_ORB_TEMPLATE=$(cat /tmp/workspace/echo-output)' >> $BASH_ENV
      - slack/notify:
          event: pass
          custom: |
            {
              "text": "CircleCI job succeeded!",              
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "Job Successful. :tada:",
                    "emoji": true
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "${MY_ORB_TEMPLATE}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Job*: ${CIRCLE_JOB}"
                    }
                  ]
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Project*: $CIRCLE_PROJECT_REPONAME"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Branch*: $CIRCLE_BRANCH"
                    }
                  ]
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "View Job"
                      },
                      "url": "${CIRCLE_BUILD_URL}"
                    }
                  ]
                }
              ]
            }
  flow:
    executor: my-executor
    steps:
      - run: mkdir -p workspace
      - run: echo "Hello, Utsav!" > workspace/echo-output
      - persist_to_workspace:
          root: workspace
          paths:
            - echo-output
  downstream:
    executor: my-executor
    steps:
      - attach_workspace:
                # Must be absolute path or relative path from working_directory
          at: /tmp/workspace

      - run: |
          echo 'export MY_ORB_TEMPLATE=$(cat /tmp/workspace/echo-output)' >> $BASH_ENV
workflows:
  send-notification:
    jobs:
      - flow:
          filters:
            branches:
              only: 
                - main
                - master 
      - downstream:
          filters:
            branches:
              only: 
                - main
                - master
          requires:
            - flow
      - notify:
          requires:
            - flow
          context: slack-secrets
          filters:
            branches:
               only: 
                - main
                - master   
 
                        